/* Universal Styling */

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  width: 100%;
}

section {
  width: 100%;
}

body section:nth-child(even) {
  background-color: #687083;
}

h1  {
  font-family: '', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #1B202B;
  font-size: 2.5rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

h2 {
  font-family: '', sans-serif;
  font-weight: 400;
  color: #C5CAD7;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 40px;
}

h5 {
  font-family: '', sans-serif;
  font-weight: 700;
  color: #1B202B;
  font-size: 2rem;
}

h6 {
  font-family: '', sans-serif;
  font-weight: 400;
  color: #1B202B;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

p {
  font-size: 0.9rem;
  line-height: 1rem;
  color: #687083;

}

/* Universal Styling @1024px */

@media only screen and (max-width: 1024px) {

}

/* Universal Styling @768px */

@media only screen and (max-width: 768px) {

}

/* Social Styling */

.social-top {
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: darkgrey;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: 10;
}

.social-container {
  width: 1200px;
  margin: 0 auto;
}

.social-container a {
  padding-left: 24px;
  float: right;
  transition: all 0.25s ease-out;
}

.social-container a:hover {
  color: white;
}

/* Header Styling */

header {
  background-color: dimgrey;
  height: 96px;
  text-transform: uppercase;
  position: absolute;
  top: 64px;
  bottom: 64px;
  left: 0px;
  right: 0px;
  overflow: auto;
  z-index: 2;
}

.header-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.logo img {
  width: 64px;
  height: auto;
  margin-left: 64px;
}

#fusion-logo {
  color: white;
  text-transform: uppercase;
}

.desktop-navigation ul {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 24px;
  float: right;
}

.desktop-navigation ul li a {
  padding-left: 24px;
  color: white;
}

.desktop-navigation ul li a:hover {
  text-decoration: underline;
}

.desktop-navigation {

}

.mobile-navigation {
  display: none;
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {

}

/* Banner Styling */

.banner {
  width: 100%;
  display: flex;
}

.banner-img {
  width: auto;
  height: 640px;
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {

}

/* Mailing Section Styling */

.mailing-list {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-bottom: 1px solid white;
}

.mailing-list h3 {
  text-align: center;
  font-size: 1.2rem;
  background-color: white;
  border-radius: 1.5rem;
  padding: 0.4rem;
}

.mailing-list h3:hover {
  color: white;
  background-color: black;
  border-radius: 1.5rem;
  border-color: white;
}

/* Features Section Styling */

.features-section {
  width: 100%;
  background-color: black;
  border-bottom: 1px solid white;
}

.features {
  width: 1200px;
  margin: 0 auto;
  display: block;
}

.features h2 {
  color: white;
  text-align: center;
  padding-top: 40px;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.feature-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px 64px 32px 64px;
}

.feature-holder {
  width: 30%;
  background-color: lightgrey;
  margin-right: 32px;
  margin-bottom: 16px;
  transition: all 0.6s ease-out;
  border: 1px solid white;
}

.feature-holder:hover {
  width: 30.5%;
  margin: 0.9rem;
}

.feature-holder img {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.feature-holder .textbox {
  height: 120px;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.textbox {
  margin-right: 16px
}

.textbox h4 {
  margin-bottom: 8px;
  text-align: center;
}

/* Video Styling */

.video-section {
  background-color: black;
}

.video-container {
  width: 1200px;
  margin: 0 auto;
}


/* Footer Styling */

footer {
  height: 96px;
  background-color: darkgrey;
  border-top: 1px solid black;
}

.footer-container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 16px;
}

.footer-container nav {
  float: right;
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {

}
