/* Universal Styling */

html {
  font-size: 16px;
  font-family: '', serif;
}

section {
  width: 100%;
}

body section:nth-child(even) {
  background-color: #687083;
}

h1  {
  font-family: '', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #1B202B;
  font-size: 2.5rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

h2 {
  font-family: '', sans-serif;
  font-weight: 400;
  color: #C5CAD7;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 40px;
}

h5 {
  font-family: '', sans-serif;
  font-weight: 700;
  color: #1B202B;
  font-size: 2rem;
}

h6 {
  font-family: '', sans-serif;
  font-weight: 400;
  color: #1B202B;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

p {
  font-size: 0.9rem;
  line-height: 1rem;
  color: #687083;

}

/* Universal Styling @1024px */

@media only screen and (max-width: 1024px) {

}

/* Universal Styling @768px */

@media only screen and (max-width: 768px) {

}

/* Social Styling */

.social-top {
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: darkgrey;
  border-bottom: 1px solid black;
}

.social-container {
  width: 1200px;
}

.social-container a {
  padding-left: 24px;
}

/* Header Styling */

header {
  background-color: dimgrey;
  height: 96px;
  text-transform: uppercase;
}

.header-container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.logo img {
  width: 64px;
  height: auto;
  margin-left: 64px;
}

#fusion-logo {
  color: white;
  text-transform: uppercase;
}

.desktop-navigation ul {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 24px;
}

.desktop-navigation ul li a {
  padding-left: 24px;
  color: white;
}

.desktop-navigation {

}

.mobile-navigation {
  display: none;
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {

}

/* Banner Styling */

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {

}

/* Footer Styling */

footer {
  height: 64px;
  background-color: darkgrey;
  border-top: 1px solid black;
}

.footer-container {
  width: 1200px;
  margin-top: 32px;
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {

}
